:root {
	--main-font: "FredokaOne";
	--main-font-sans-serif: "FredokaOne", sans-serif;
	--second-font: "RobotoMono";
	--second-font-sans-serif: "RobotoMono", sans-serif;
	--primary: #0b2545;
	--secondary: #f2f2f2;
	--tertiary: #d96c06;
	--quator: #ffcfa2;
	--primary-background-color: #0b264680;
	--secondary-background-color: #f2f2f280;
	--tertiary-background-color: #db6d0680;
	--quator-background-color: #ffcfa280;
}

footer {
	.containerFooter {
		display: flex;
		background-color: var(--primary);

		.block {
			width: 33%;
			padding-inline: 16px;
			margin-block: 16px;
		}
		.block:nth-child(2) {
			border-left: #d96c06 1px solid;
		}
		.block:nth-child(3) {
			border-left: #d96c06 1px solid;
		}

		.footer-logo {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;

			img {
				width: 60px;
				height: auto;
			}
			p {
				color: var(--secondary);
				font-family: var(--second-font);
				font-size: 12px;
				text-align: center;
			}
		}
		.footerLinks {
			display: flex;
			flex-direction: column;
			gap: 8px;
			align-items: center;

			h3 {
				color: var(--tertiary);
				font-family: var(--second-font);
				letter-spacing: 1px;
			}
			ul {
				list-style: none;

				li {
					margin-block: 8px;
					a {
						text-decoration: none;
						color: var(--secondary);
						font-size: 12px;
						font-family: var(--second-font);
						&:hover {
							color: #ffcfa2;
						}
					}
				}
			}
		}
		.newsletter {
			display: flex;
			flex-direction: column;
			gap: 16px;
			align-items: center;

			h3 {
				color: var(--tertiary);
				font-family: var(--second-font);
				letter-spacing: 1px;
			}
			.inputNewsletter {
				display: flex;
				gap: 8px;
				input {
					padding: 8px;
					border-radius: 5px;
					border: none;
				}
				button {
					background-color: var(--tertiary);
					border: none;
					border-radius: 5px;
					padding: 8px;
					&:hover {
						cursor: pointer;
					}
				}
			}
			ul {
				list-style: none;
				display: flex;
				gap: 8px;
				li {
					img {
						width: 30px;
						&:hover {
							cursor: pointer;
							opacity: 0.8;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 860px) {
		.containerFooter {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			row-gap: 8px;
			grid-auto-rows: auto;
			.block {
				width: 100%;
				padding-inline: 16px;
				margin-block: 16px;
			}
			.block:nth-child(2) {
				border-left: none;
			}

			.footer-logo {
				grid-column: span 3;
			}
			.newsletter {
				grid-column: span 2;
			}
		}
	}
	@media screen and (max-width: 430px) {
		.containerFooter {
			display: flex;
			flex-direction: column;
			.block {
				width: 100%;

				padding-block: 16px;
				margin-block: 0;
			}

			.block:nth-child(2) {
				border-left: none;

				border-top: #d96c06 1px solid;
			}
			.block:nth-child(3) {
				border-left: none;
				border-top: #d96c06 1px solid;
			}
		}
	}
}
